nav ul li{
  margin: 0 5px;
}
.navbar-brand{
  font-family: 'Fredoka One', cursive !important;
  color: #e6a756 !important;
}
.btn-dark{
  background: rgba(230, 167, 86, 0.9);
  border: 1px solid rgba(230, 167, 86, 0.9);
}
