<section id="about">
  <div class="container">
    <div class="row">
      <div class="mx-auto" style="width:80%; height: auto">
      <div class="col-lg-8 mx-auto">
        <h1>Editing Category</h1>

        <%= render 'form', category: @category %>
      </div>

      <div class="col-lg-8 mx-auto">
        <%= link_to 'Show', @category %> |
        <%= link_to 'Back', categories_path %>
      </div>
    </div>
  </div>
</section>
