<div class="container">
    <div class="row align-items-center mt-5">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                  <h1>Add a Category</h1>

                  <%= render 'form', category: @category %>

                  <%= link_to 'Back', categories_path %>

                </div>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
